html, body, ul, li, ul, a, p {
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 100%;
  font-family: 'Andale Mono','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  color: #2c3e50;
}